:root{
    --color-dominant:#9e9e9e;
    --color-complement:rgb(0, 0, 0);
    --color-contrast:#616161;
    --color-accent:#009688;
   
}
.foto{
    width: 400px;
    margin: 0;
    padding: 0;
    border: 0;
}

.menu-list{
    list-style: none;
}

.info{
    list-style: none;
    display: block;
}

.onderwerpen{
    width: 100%;
    height: 10rem;
}
.personages{
    padding: 1rem;
    margin-bottom: 2rem;
}

@media only screen and (min-width:600px){
    #mainGridContainer{
        display: grid;

        grid-template-columns: 3fr;
        grid-template-rows: 1fr 4fr 4fr 4fr ;

        grid-template-areas: "title"
                             "een"
                             "twee"
                             "drie" ;

        grid-gap: 1rem;
        padding: 2rem;
    }
    #titel{
        grid-area: title;
    }
    #een{
        grid-area: een;
    }

    #twee{
        grid-area: twee;
    }

    #drie{
        grid-area: drie;
    }

    .onderwerpen{
        width: 50%;
    }
}


